html{
    margin:0;
    padding:0;
    font-size:20px
}

.navbar{
    padding:0;
    background-color:rgba(0,0,0,0.75)
}
.navbar-toggler{
    padding:0;
}

.carousal-section{
    width: 100%;
    margin: auto;
    padding: 0;
}
.carousel-item img{
    height: 512px;
    width: 100%;
}
.carousel-caption{
    position: absolute;
    top: 20%;
    right:10%;
    text-align: left;
    color: #fff;
}
.carousel-caption h1{
    font-size:24px;
    font-weight:700;
}
.carousel-caption p{
    font-size:18px;
    font-weight:400;
}


@media (max-width: 720px){
    .carousel-item img{
        height:320px;
    }
    .carousel-caption h1{
        font-size:24px;
        font-weight:700;
    }
    .carousel-caption p{
        font-size:8px;
        font-weight:400;
    }
}