html{
    margin:0;
    padding:0;
    font-size:20px
}

.navbar{
    padding: 0 7.5%;
    padding-right: .5%;
    background-color:rgba(0,0,0,0.75)
}
.navbar-toggler{
    padding:0;
}

.carousal-section{
    width: 100%;
    margin: auto;
    padding: 0;
}
.carousel-item img{
    height: 512px;
    width: 100%;
}
.carousel-caption{
    position: absolute;
    top: 20%;
    right:10%;
    width: 60%;
    text-align: left;
    color: #fff;
}
.carousel-caption h1{
    font-size:32px;
    font-weight:700;
    margin-bottom: 2.5%
}
.carousel-caption p{
    font-size:18px;
    font-weight:400;
}


@media (max-width: 720px){
    .navbar{
        padding: 0 5%;
        padding-right: 2.5%;
    }
    .carousel-item img{
        height:320px;
    }
    .carousel-caption h1{
        font-size:24px;
        font-weight:700;
    }
    .carousel-caption p{
        font-size:10px;
        font-weight:400;
    }
}