html{
    margin:0;
    padding:0;
    font-size:20px
}

/* NAVIGATION SECTION*/

.navbar{
    padding: 1% 7.5%;
    padding-right: .5%;
    background-color:rgba(0,0,0,0.25)
}
.navbar-toggler{
    padding:0;
}

/* SECTION-1 */
.c-icon{
    width: 25px;
}
.carousal-section{
    width: 100%;
    margin: auto;
    padding: 0;
}
.carousel-item img{
    height: 680px;
    width: 100%;
}
.carousel-caption{
    position: absolute;  
    top: 20%;
    right:15%;
    width: 60%;
    text-align: left;
    color: #fff;
}
.carousel-btn{
    margin: 5% 0;
    width: 100%;
}
.carousel-btn button{
    border: none;
    border-radius:2.5%;
    width: auto;
    padding: 1.25% 2.5%;
    letter-spacing:1.15 ;
    font-size:10px;
    font-weight:600;
    color: #fff;
    background-color: #4C4C6D;
}
.carousel-btn button:hover{
    color: #4C4C6D;
    background-color: #FFC947;
}
.carousel-caption h1{
    font-size:32px;
    font-weight:700;
    margin-bottom: 2.5%
}
.carousel-caption p{
    font-size:18px;
    font-weight:400;
}

/* SECTION-2 */

.about-section {
    margin: 5% 0;
    padding: 0 12.5%;
}
 .title h1{
    text-align:center;
    margin: 5% 0;
    margin-bottom:10%;
    line-height:2rem ;
    letter-spacing:2.5px;
}
.about{
    display:flex;
    justify-content: space-around;
    align-content: center;
    padding:0;
}   
.about-info{
    width:50%;
    display:flex;
    padding-left: 5%;
    justify-content: space-around;
    align-content: center;
    color:#8f8f8f;
    text-align: left;
    line-height: 1rem;
}
.about-info p{
    font-size:20px;
    margin: 2.5% 0;
}
.about-img{
    width:50%;
    display:flex;
    justify-content: space-around;
    align-content: center;
}
.img-thumbnail{
    width: 250px;
    height:200px;
    border: none;
    border-radius: 50%;
}
.about-cards{
    margin-top: 10%;
    margin: auto;
    width: 100%;
    padding:2.5% 0;
    padding-bottom:2.5%;
    border-bottom: #8f8f8f solid 1px;
    border-radius: 1%; 
    display: flex;
    justify-content: space-around;
}
.about-cards .card {
    width: 100%;
    border: none;
    text-align: center;
    padding: 2.5% 0;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:30%;
}
.card-title {
    color: #4C4C6D;
    padding: 2.5%;
    margin: 1.25%;
    letter-spacing:1.5;
    font-size:20px;
    font-weight:600;
}
.card-content{
    color:#8f8f8f;
    line-height: 1.15;
    font-size:14px;
    padding: 2.5% 0;
    margin-left: 2.5%;
    padding-left: 10%;
    text-align: left;
}
.card-btn{
    margin: 5% 0;
    width: 100%;
}
.card-btn button{
    border: none;
    border-radius:2.5%;
    width: fit-content;
    padding: 2.5% 7.5%;
    letter-spacing:1.15 ;
    font-size:14px;
    font-weight:600;
    color: #fff;
    background-color: #4C4C6D;
}
.card-btn button:hover{
    color: #4C4C6D;
    background-color: #FFC947;
}
.card-icon{
    width: 55px;
    height: 55px;
}

/* SECTION-3 */
.project-section .title h1{
    margin-bottom: 5%;
}

.p-card{
    --p-desc-color: #8f8f8f;
    --p-bg-color: #cfcfcf;
    --p-btn-color: #4C4C6D;
    --p-btn-bg-color: #fff;
    background-color: var(--p-bg-color);
}
.p-card:hover{
    --p-desc-color: #4C4C6D;
    --p-bg-color: #FFC947;
    --p-btn-bg-color: #4C4C6D;
    --p-btn-color: #fff;
}
.p-info{
    padding: 5% 10%;
}
.p-title{
    padding: 2.5% 0;
    font-size:16px;
    font-weight: 700;
    letter-spacing:3.5;
}
.p-description{
    padding: 0;
    font-size:12px;
    color: var(--p-desc-color);
    line-height:1.15;
    font-weight:500;
}
.p-btn{
    margin: 5% 0;
    margin-bottom:0;
    display:flex;
    justify-content: start;
}
.p-btn button{
    margin: 5% 0;
    border: none;
    color: var(--p-btn-color);
    background-color: var(--p-btn-bg-color);
    border-radius:2.5%;
    width: fit-content;
    padding: 3% 5%;
    letter-spacing: 4;
    font-size:12px;
    font-weight:700;
}
.p-btn button:hover{
    color: var(--p-btn-color);
    background-color: var(--p-btn-bg-color);
}
.p-img{
    height: 320px;
    width:100%;
}

/* SECTION-4 */
.pricing-section{
    margin-bottom:5%;
}
.pricing-section .title h1{
    margin-bottom: 5% 0;
}
.pricing-section{
    display: flex;
    flex-direction: column;
}
.pricing-cards{
    margin: 0;
    --cost-color: #8f8f8f;
    --pr-btn-bg-color: #FFC947;
    --pr-btn-color: #4C4C6D;   
    display: flex;
    justify-content: center;
}
.pr-card{
    margin: 0;
    padding:0;
    width:30%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}
.pr-card:nth-of-type(1),.pr-card:nth-of-type(2){
border-right: solid 1px #8f8f8f ;
}
.pr-title{
    text-align: center;
    width: 100%;
    font-size:14px;
    font-weight: 700;
    letter-spacing:3.5;
}
.pr-cost{
    width: 100%;
    color: var(--cost-color);
    margin: 0;
    text-align: center;
    font-size:12px;
    font-weight:500;
}
.pr-info{
    width: 100%;
    text-align:center;
    padding:2.5%;
    margin: 2.5% 0;
}
.pr-info li{
    font-size:12px;
    line-height:1.25;
    letter-spacing:3;
    font-weight:700;
    list-style: none;
}
.pr-btn{
    display: flex;
    justify-content: center;
}
.pr-btn button{
    margin: 5% 0;
    border: none;
    color: var(--pr-btn-color);
    background-color: var(--pr-btn-bg-color);
    border-radius:2.5%;
    width: fit-content;
    padding: 3% 5%;
    letter-spacing: 4;
    font-size:12px;
    font-weight:700;
}
.pr-btn button:hover{
    color:#cfcfcf;
    background-color: var(--pr-btn-color);
}

/* SECTION-5 */

.video-section{
    padding:5%;
    color: #cfcfcf;
    background-color: #4C4Caf;
}
.video-section .title .h1{
    margin-bottom: 5% 0;
}
.video-section .carousel-item, video-section .carousel-item .active{
    display: flex;
    justify-content:center;
}
video{
    height: 380px;
}

/* SECTION-6 */

.team-container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.team-member{
    margin: 2.5% 0;
    display: flex;
    text-align: center;
    flex-direction:column;
    justify-content:center;
    align-content:space-around;
}
.team-member img{
    margin: auto;
    width: 100px;
    height: 100px;
    box-shadow:  #4C4C6D;
    border-radius: 50%;
}
.team-member .name{
    margin: 5%;
    margin-bottom:2%;
    font-size:12px;
    font-weight: 700;
    letter-spacing:3.5;
}
.team-member .position{
    color: #8f8f8f;
    margin: auto;
    text-align: center;
    font-size:12px;
    font-weight:500;

}

@media (max-width: 720px){
    .navbar{
        padding: 0.25 5%;
        padding-right: 2.5%;
    }
    .carousel-item img{
        height:320px;
    }
    .carousel-caption{
        width: 70%;
    }
    .carousel-caption h1{
        font-size:24px;
        font-weight:700;
    }
    .carousel-caption p{
        font-size:10px;
        font-weight:400;
    }
    .about-section {
        padding: 0 7.5%;
    }
    .about{
        display:flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-content: center;
    }
    .about-info{
        width:100%;
        text-align: center;
    }
    .about-info p{
        font-size: 18px;
    }
    .about-img{
        width: 100%;
    }
    .img-thumbnail{
        height: 150px;
        width: 80%;
    }
    .about-cards{
        margin: 20% 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border:none;
    }
    .about-cards .card {
        height: 75%;
        padding: 10% 2.5%;       
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: none;
        border-bottom: 1px solid #8f8f8f;
    }
    .card-content{
        font-size:14px;
        padding: 5% 2.5%;
        text-align: center;    
    }
    .pricing-cards{
        justify-content: center;
        align-content: space-around;
    }
    .pr-card{
        border:none;
        padding:2.5%;
        width:33%;
    }
    
}